                    body {
                        background-color: black;
                    }
                    
                    #jumbotron {
                        height: 400px;
                        /* background-image: url(bg2.jpg); */
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    
                    .p1 {
                        text-align: center;
                        color: black;
                        font-weight: 560;
                        font-size: 20.5px;
                    }
                    
                    .p2 {
                        color: white;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    
                    .p3 {
                        width: 110px;
                        border-radius: 10px;
                        height: 30px;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 20px;
                    }
                    
                    .p3 a {
                        color: rgba(23, 250, 23, 0.979);
                        text-decoration: none;
                        font-weight: 600;
                    }
                    
                    .p3 a:hover {
                        color: rgba(23, 250, 23, 0.979);
                    }
                    
                    .p3:hover {
                        text-decoration: underline;
                    }
                    
                    .p4 {
                        color: white;
                    }
                    
                    h1 {
                        color: white;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                    }
                    
                    .frontend {
                        width: 115px;
                        height: 30px;
                        background-color: rgba(23, 250, 23, 0.979);
                        border-radius: 10px;
                    }
                    
                    .paragraf {
                        width: 217px;
                    }
                    
                    .katakecil {
                        width: 300px;
                    }
                    
                    #about {
                        background-color: rgb(19, 19, 19);
                    }
                    
                    #portfolio {
                        background-color: black;
                    }
                    
                    .contoh {
                        background-color: skyblue;
                    }
                    
                    #contact {
                        background-color: rgb(19, 19, 19);
                        height: 500px;
                    }
                    
                    .contoh {
                        background-color: rgb(19, 19, 19);
                        height: 400px;
                        cursor: pointer;
                    }
                    
                    .contoh:hover {
                        border: solid 1px rgba(23, 250, 23, 0.979);
                        background-color: black;
                        scale: 1.1;
                    }